# Generated integration entrypoint. Keep this file tiny.
source = ~/.config/jc-hyprland-dotfiles/repo/themes/odyssey-glass/colors.conf
source = ~/.config/jc-hyprland-dotfiles/local/monitors.conf
source = ~/.config/jc-hyprland-dotfiles/repo/config/hypr/hyprlang/common/appearance.conf
source = ~/.config/jc-hyprland-dotfiles/repo/config/hypr/hyprlang/common/animations.conf
source = ~/.config/jc-hyprland-dotfiles/repo/config/hypr/hyprlang/common/gaming.conf
source = ~/.config/jc-hyprland-dotfiles/repo/config/hypr/hyprlang/common/windowrules.conf
source = ~/.config/jc-hyprland-dotfiles/repo/config/hypr/hyprlang/common/keybindings.conf
source = ~/.config/jc-hyprland-dotfiles/repo/config/hypr/hyprlang/common/autostart.conf
