[SddmGreeterTheme]
Name=JC Hyprland
Description=SDDM theme for jc-hyprland-dotfiles
Author=Juan Carlos Piña
License=MIT
Type=sddm-theme
Version=0.1.0
MainScript=Main.qml
ConfigFile=theme.conf
Theme-Id=jc-hyprland
Theme-API=2.0
QtVersion=6